<input type="checkbox" id="sidebartoggler" name="" value="">

<nav>
  <label for="sidebartoggler">
    <div>Menu</div>
  </label>

  <div class="menu page-menu">
    <span></span>
    <div class="menu-container">
      <h4>
        <ul>
          <li>
            <a href="{{ site.url }}">Home</a>
          </li>
          </li>
          {% for page in site.pages %}
            <li>
              <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </h4>
    </div>
  </div>
</nav>
