<!DOCTYPE html>
<html>
  	<head>
  		<title>Alexander J. Liepman</title>
  		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  		<meta name="description" content="" />
  		<meta name="keywords" content="" />
  		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
  		<script src="/js/jquery.min.js"></script>
  		<script src="/js/jquery.poptrox.min.js"></script>
  		<script src="/js/skel.min.js"></script>
  		<script src="/js/init.js"></script>
  		<noscript>
  			<link rel="stylesheet" href="/css/skel.css" />
  			<link rel="stylesheet" href="/css/style.css" />
  			<link rel="stylesheet" href="/css/style-xlarge.css" />
  		</noscript>
      <!-- favicon links below-->
      <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
  		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
  	</head>

	<body id="top">

      <header id="header">
          <a href="#" class="image avatar"><img src="/images/avatar.jpg" alt="" /></a>
          <h1><strong>Alexander J. Liepman</strong></h1>
          <h3>Omaha Entrepreneur</h3>

      </header>


{{ content }}


        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">



              <li>
                <a target="_blank" href="https://twitter.com/ajliepman" class="icon fa-twitter">
                  <span class="label">Twitter</span>
                </a>
              </li>



              <li>
                <a target="_blank" href="https://linkedin.com/in/ajliepman" class="icon fa-linkedin">
                  <span class="label">LinkedIn</span>
                </a>
              </li>



              <li>
                <a target="_blank" href="https://angel.co/alexliepman" class="icon fa-angellist">
                  <span class="label">AngelList</span>
                </a>
              </li>



              <li>
                <a target="_blank" href="https://www.facebook.com/ajliepman" class="icon fa-facebook">
                  <span class="label">Facebook</span>
                </a>
              </li>




              <li>
                <a target="_blank" href="mailto:alexanderliepman@gmail.com" class="icon fa-envelope-o">
                  <span class="label">Email</span>
                </a>
              </li>

            </ul>
            <ul class="copyright">
                <li>&copy; Alexander J. Liepman 2016</li>

            </ul>
        </footer>

	</body>
</html>
